
.wpcico-clock:before { content: '\e800'; } /* '' */
.wpcico-flag:before { content: '\e801'; } /* '' */
.wpcico-user:before { content: '\e802'; } /* '' */
.wpcico-music:before { content: '\e803'; } /* '' */
.wpcico-chat:before { content: '\e804'; } /* '' */
.wpcico-mail-alt:before { content: '\e805'; } /* '' */
.wpcico-ok-circled:before { content: '\e806'; } /* '' */
.wpcico-minus-circled:before { content: '\e807'; } /* '' */
.wpcico-lock:before { content: '\e808'; } /* '' */
.wpcico-lock-open-alt:before { content: '\e809'; } /* '' */
.wpcico-trash:before { content: '\e80a'; } /* '' */
.wpcico-attention:before { content: '\e80b'; } /* '' */
.wpcico-file-audio:before { content: '\e80c'; } /* '' */
.wpcico-facebook-squared:before { content: '\e80d'; } /* '' */
.wpcico-instagram:before { content: '\e80e'; } /* '' */
.wpcico-youtube-squared:before { content: '\e80f'; } /* '' */
.wpcico-gplus-squared:before { content: '\e810'; } /* '' */
.wpcico-twitter:before { content: '\e811'; } /* '' */
.wpcico-eye:before { content: '\e812'; } /* '' */
.wpcico-link-ext-alt:before { content: '\e813'; } /* '' */
.wpcico-attention-circled:before { content: '\e814'; } /* '' */
.wpcico-ok:before { content: '\e815'; } /* '' */
.wpcico-ok-squared:before { content: '\e816'; } /* '' */
.wpcico-block:before { content: '\e817'; } /* '' */
.wpcico-arrows-cw:before { content: '\e818'; } /* '' */
.wpcico-smile:before { content: '\e819'; } /* '' */
.wpcico-chat-1:before { content: '\e81a'; } /* '' */
.wpcico-search:before { content: '\e81b'; } /* '' */
.wpcico-users:before { content: '\e81c'; } /* '' */
.wpcico-picture:before { content: '\e81d'; } /* '' */
.wpcico-camera-alt:before { content: '\e81f'; } /* '' */
.wpcico-video:before { content: '\e820'; } /* '' */
.wpcico-pencil:before { content: '\e821'; } /* '' */
.wpcico-edit:before { content: '\e822'; } /* '' */
.wpcico-bell:before { content: '\e823'; } /* '' */
.wpcico-emo-happy:before { content: '\e824'; } /* '' */
.wpcico-cancel:before { content: '\e825'; } /* '' */
.wpcico-cancel-circled:before { content: '\e826'; } /* '' */
.wpcico-help-circled:before { content: '\e827'; } /* '' */
.wpcico-download-cloud:before { content: '\e829'; } /* '' */
.wpcico-wrench:before { content: '\e82a'; } /* '' */
.wpcico-cog-alt:before { content: '\e82b'; } /* '' */
.wpcico-off:before { content: '\e82c'; } /* '' */
.wpcico-user-1:before { content: '\e82f'; } /* '' */
.wpcico-users-1:before { content: '\e830'; } /* '' */
.wpcico-user-add:before { content: '\e831'; } /* '' */
.wpcico-link:before { content: '\e832'; } /* '' */
.wpcico-trash-1:before { content: '\e833'; } /* '' */
.wpcico-linkedin-squared:before { content: '\e835'; } /* '' */
.wpcico-code:before { content: '\e836'; } /* '' */